@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-mono);
  --font-mono: var(--font-noto-mono);
}

body {
  background-color: #09090b;
  color: #f4f4f5;
  font-family: var(--font-noto-mono), monospace;
}
